<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- import Vue.js -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <style type="text/css">
        .ivu-col{
            padding: 15px;
        }
    </style>
</head>
<body>
<div id="app">
    <template>
        <Row>
            <i-col :xs="8" :sm="8" :md="8" :lg="8">
                <Card>
                    <p slot="title">训练机器人</p>
                    <i-Input v-model="input_strs" type="textarea"  :rows="4" placeholder="输入问题"></i-Input>
                    <i-Input v-model="target_strs" type="textarea"  :rows="4" placeholder="输入回答"></i-Input>
                    <i-Button type="primary" @click="train('train')">训练</i-Button>
                    <i-Button type="primary" @click="train('retrain')">清零重新训练</i-Button>
                </Card>
            </i-col>
            <i-col :xs="8" :sm="8" :md="8" :lg="8">
                <Card>
                    <p slot="title">测试机器人</p>
                    <i-Input v-model="qustion" type="textarea" :rows="4" placeholder="输入问题" @on-enter="enter"></i-Input>
                    <i-Input v-model="answer" type="textarea"  placeholder="应答" :rows="4" disabled ></i-Input>
                    <i-Button type="primary">获取内容</i-Button>
                </Card>
            </i-col>
            <i-col :xs="8" :sm="8" :md="8" :lg="8">
                <Card>
                    <p slot="title">配置机器人</p>
                    <i-table :columns="qustion_answer_head" :data="qustion_answer"></i-table>
                </Card>
            </i-col>
        </Row>
    </template>
</div>
</body>
<script type="text/javascript">
    _app = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            input_strs:'',
            target_strs:'',
            qustion:'',
            answer:'',
            qustion_answer_head:[
                {
                    title: '问题',
                    key: 'content'
                },
                {
                    title: '回答',
                    key: 'answer'
                    render: (h, params) => {
                        return h('div', params.row.answer.content);
                    }
                },
            ],
            qustion_answer:[]
        },
        methods:{
            enter(){
                var self = this;
                $.ajax(`/api/answerme/?qustion=${this.qustion}`).done(res=>{
                    self.answer = res.answer;
                })
            },
            train(act){
                $.ajax({
                    url:'/api/answerme/',
                    type:"post",
                    data:{
                        action:act,
                        input_strs: this.input_strs,
                        target_strs: this.target_strs
                    }
                }).done(res=>{
                    this.$Message.info("训练完成");
                })
            }
        },
        created(){
            var self = this;
            $.ajax(`/api/answerme/?qustion=${this.qustion}`).done(res=>{
                self.qustion_answer = res.results;
            })
        }
    })

</script>
</html>