<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- import Vue.js -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
<div id="app">
    <template>
        <Row>
            <Col :xs="24" :sm="24" :md="24" :lg="4">
                <i-Button type="primary" @click="train('train')">训练</i-Button>
                <i-Button type="primary" @click="train('retrain')">清零重新训练</i-Button>
            </Col>
            <Col :xs="24" :sm="12" :md="12" :lg="10">
                <i-Input v-model="qustion" size="large" placeholder="输入问题" @on-enter="enter"></i-Input>
                <i-Button type="primary">获取内容</i-Button>
            </Col>
            <Col :xs="24" :sm="12" :md="12" :lg="10">
                <i-Input v-model="answer" placeholder="应答" readonly></i-Input>
            </Col>
        </Row>
    </template>
</div>
</body>
<script type="text/javascript">
    _app = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            qustion:'',
            answer:'',
        },
        methods:{
            enter(){
                var self = this;
                $.ajax(`/api/answerme/?qustion=${this.qustion}`).done(res=>{
                    self.answer = res.answer;
                })
            },
            train(act){
                $.ajax({
                    url:'/api/answerme/',
                    type:"post",
                    data:{action:act}
                }).done(res=>{
                    this.$Message.info("训练完成");
                })
            }
        }
    })

</script>
</html>