<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- import Vue.js -->
    <script src="//vuejs.org/js/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
<div id="app">
    <template>
        <Row>
            <i-col :xs="8" :sm="8" :md="8" :lg="8">
                <i-Input v-model="input_strs" size="large" :rows="4" placeholder="输入问题"></i-Input>
                <i-Input v-model="target_strs" size="large" :rows="4" placeholder="输入回答"></i-Input>
                <i-Button type="primary" @click="train('train')">训练</i-Button>
                <i-Button type="primary" @click="train('retrain')">清零重新训练</i-Button>
            </i-col>
            <i-col :xs="8" :sm="8" :md="8" :lg="8">
                <i-Input v-model="qustion" size="large" :rows="4" placeholder="输入问题" @on-enter="enter"></i-Input>
                <i-Input v-model="answer" placeholder="应答" :rows="4" readonly="true"></i-Input>
                <i-Button type="primary">获取内容</i-Button>
            </i-col>
            <i-col :xs="8" :sm="8" :md="8" :lg="8">
                <i-table :columns="qustion_answer_head" :data="qustion_answer"></i-table>
            </i-col>
        </Row>
    </template>
</div>
</body>
<script type="text/javascript">
    _app = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            input_strs:'',
            target_strs:'',
            qustion:'',
            answer:'',
            qustion_answer_head:[
                {
                    title: 'content',
                    key: 'name'
                },
                {
                    title: 'answer',
                    key: 'age'
                },
                {
                    title: 'Address',
                    key: 'address'
                }
            ],
            qustion_answer:[]
        },
        methods:{
            enter(){
                var self = this;
                $.ajax(`/api/answerme/?qustion=${this.qustion}`).done(res=>{
                    self.answer = res.answer;
                })
            },
            train(act){
                $.ajax({
                    url:'/api/answerme/',
                    type:"post",
                    data:{
                        action:act,
                        input_strs: this.input_strs,
                        target_strs: this.target_strs
                    }
                }).done(res=>{
                    this.$Message.info("训练完成");
                })
            }
        }
    })

</script>
</html>